@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap');

*
{
  background: #000;
}

body
{
  margin: 0;
  padding: 0;
  background-color: rgb(14, 13, 13);
}

.container
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.button
{
  position: relative;
  text-align: center;
  width: 256px;
  
  padding: 30px;
  font-size: 29px;
  color: #15f4ee;
  font-family: 'Poppins';
  font-weight: 400;
  border: 5px solid #15f4ee;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  border-radius: 100px;
  transition: 1.5s;
}

.button:hover
{
  box-shadow: 0 5px 50px 0 #15f4ee ,0 5 px 50px 0 #15f4ee 0 5px 50px  0 #15f4ee ,0 5px 50px 0 #15f4ee;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}

